lenovo-n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lenovo-chat",
        "options": {}
      },
      "id": "1",
      "name": "Webhook (Gradio)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json[\"message\"]}}",
        "options": {
          "systemMessage": "You are the Lenovo Multi-Agent Assistant. \n\n**STRUCTURE**:\n- Use Product Specialist for specs/prices.\n- Use Tech Specialist for support/repairs.\n- Use Policy Specialist for shipping/returns/warranty.\n- Use Web Search for current news.\n\n**FORMAT**:\nPrepend every answer with '[Agent Name]'. If multiple agents contribute, use multiple blocks. Combine them into one response."
        }
      },
      "id": "2",
      "name": "Lenovo Orchestrator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "model": "gemini-pro"
      },
      "id": "3",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGenerativeAi",
      "typeVersion": 1,
      "position": [600, 500]
    },
    {
      "parameters": {
        "name": "Search_Agent",
        "description": "Use for web search"
      },
      "id": "4",
      "name": "DuckDuckGo Search",
      "type": "@n8n/n8n-nodes-langchain.toolDuckDuckGoSearch",
      "typeVersion": 1,
      "position": [800, 500]
    },
    {
      "parameters": {
        "name": "Lenovo_Files",
        "description": "Fetches local Lenovo data",
        "url": "=https://your-api-url.onrender.com/files/{{$json[\"folder\"]}}/{{$json[\"file\"]}}",
        "headers": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "your_secret_key"
            }
          ]
        }
      },
      "id": "5",
      "name": "File_Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [950, 400]
    }
  ],
  "connections": {
    "Webhook (Gradio)": {
      "main": [[{ "node": "Lenovo Orchestrator", "type": "main", "index": 0 }]]
    },
    "Google Gemini": {
      "ai_languageModel": [[{ "node": "Lenovo Orchestrator", "type": "ai_languageModel", "index": 0 }]]
    },
    "DuckDuckGo Search": {
      "ai_tool": [[{ "node": "Lenovo Orchestrator", "type": "ai_tool", "index": 0 }]]
    },
    "File_Tool": {
      "ai_tool": [[{ "node": "Lenovo Orchestrator", "type": "ai_tool", "index": 0 }]]
    }
  }
}
